body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.graph-panel-container {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.graph-panel {
  background-color: rgba(0, 0, 0, 0.7);
  margin: auto;
  display: inline-flex;
  flex-direction: row;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  pointer-events: auto;
}

.graph-panel button {
  color: white;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px 15px;
  transition: all 0.2s;
}

.graph-panel button:hover {
  background-color: rgba(255,255,255,0.3);
}

.graph-panel button[disabled] {
  color: gray;
  cursor: default;
}

.graph-panel .text {
  color: white;
  margin: auto;
  text-align: left;
  padding: 0 10px;
}

.svg-container {
  width: 100%;
  height: 100vh;
  background-color: burlywood;
}

svg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}

.graph-menu {
  position: absolute;
  /* border-radius: 5px; */
  border: 1px solid gray;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  transform-origin: 0 0;
}

input.graph-menu-search {
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  outline: none;
  border: none;
  color: white;
}

.graph-menu-option {
  font-family: Helvetica;
  color: #dddddd;
  padding: 6px 10px;
  cursor: pointer;
  transition: all 0.1s;
  font-size: 1.3em;
}

.graph-menu-option:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.tick line{
  stroke: gray;
}

.graph-port {
  stroke: darkcyan;
  stroke-width: 2px;
}

.graph-port:hover {
  stroke: white;
}

.graph-node-title {
  fill: white;
  cursor: default;
}

.graph-node-rect {
  stroke-width: 3px;
  stroke: gray;
  fill: rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
}

.graph-node.selected .graph-node-rect {
  stroke: gold;
  z-index: 10;
}

.graph-link {
  fill: transparent;
  stroke: white;
  stroke-width: 3px;
  pointer-events: none;
}

foreignObject input {
  border-radius: 2px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  width: 90%;
  padding: 4%;
  outline: none;
  border: 0;
  margin: 0;
}
