body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.svg-container {
  width: 100%;
  height: 100vh;
  background-color: burlywood;
}

svg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}

.graph-menu {
  position: absolute;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
}

.graph-menu-option {
  padding: 4px 10px;
  cursor: pointer;
  transition: all 0.1s;
  font-size: 1.3em;
}

.graph-menu-option:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.tick line{
  stroke: gray;
}

.graph-port {
  stroke: darkcyan;
  stroke-width: 2px;
}

.graph-port:hover {
  stroke: white;
}

.graph-node-title {
  fill: white;
}

.graph-node-rect {
  stroke-width: 3px;
  stroke: gray;
  fill: rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
}

.graph-node.selected .graph-node-rect {
  stroke: gold;
  z-index: 10;
}

.graph-link {
  fill: transparent;
  stroke: white;
  stroke-width: 3px;
  pointer-events: none;
}
